<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {% for post in paginator.posts %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">{{ post.title }}</h2>
        </a>
        <p class="post-meta">
            <span>Posted by {{ post.author }} on {{ post.date }}.</span>
            {% include read-time.html content=post.content %}
        </p>
    </div>
    <hr>
    {% endfor %}

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
